<button class="c-modalBtn <%- mod %>" data-modal-open="<%- open %>">
  <span class="c-modalBtn__img">
    <img src="<%- img %>" alt="<%- alt %>">
  </span>
  <span class="c-modalBtn__text"><%- text %></span>
</button>
